<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
    <!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
	
    <main class="register_main">
        <section class="register_section">
            <form class="" action="" method="POST">
                <h4>Datos de Usuario</h4>
                <div class="register_form_contenedor">
                    <input name="regName" class="register_form_contenedor-Input" type="text" value="<%= locals.old && old.regName ? old.regName :null %>" placeholder="Ingrese su nombre" >
                    <small><%= locals.errors && errors.regName ? errors.regName.msg : null %>  </small>
                </div>
                <div class="register_form_contenedor">
                    <label for="apellido"></label>
                    <input name="regLastName" class="register_form_contenedor-Input" type="text" value="<%= locals.old && old.regLastName ? old.regLastName :null  %>" id="apellido" placeholder="Ingrese su apellido">
                    <small><%= locals.errors && errors.regLastName ? errors.regLastName.msg : null %>  </small>
                </div>
                <div class="register_form_contenedor">
                    <label for="usuario"></label>
                    <input name="regEmail" class="register_form_contenedor-Input" type="email" value="" id="usuario" placeholder="Ingrese usuario">
                    <small><%= locals.errors && errors.regEmail ? errors.regEmail.msg : null %>  </small>
                </div>
                <hr>
                <h4>contraseña</h4>
                <div class="register_form_contenedor">
                    <input name="regPass" class="register_form_contenedor-Input" type="password"  value="Ingrese password" >
                    <small><%= locals.errors && errors.regPass ? errors.regPass.msg : null %>  </small>
                    <input name="regconfPass" class="register_form_contenedor-Input" type="password"  value="Confirme password" >
                    <small></small>
                </div>
                <hr>
                <div class="register_form_contenedor">
                    <a href="/">volver</a>
                    <button  type="submit">Enviar</button>
                    <button type="reset">Reset</button>
                </div>
            </form>
        </section>
    </main>

    <footer>

    </footer>
</body>

</html>